// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.counters{
    margin-right: 30px;
    font-size: 10px;
    text-align: center;
    padding-right: 1rem ;
    border-right: 1px solid lightgrey;

    strong{
        display: block;
        font-size: 2rem;
    }

    .vote, .status{
        width:60px;
        height:50px;
        margin-bottom: 1rem;
        background-color: lightgray;
        border-radius: 10px;
    }

    .status{
        &.unanswered {
            background-color: lightgray;
            border-radius: 10px;
        }

        &.answered {  
            background-color: lightgreen;
            border-radius: 10px;
        }

        &.answer-accepted {
            background-color: $green;
            color: $white;
        }
    }

    .view{
        margin-top:10px ;
    }
}
