// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';


.counters{
    margin-right: 30px;
    font-size: 10px;
    text-align: center;
    padding-right: 1rem ;
    border-right: 1px solid lightgrey;

    strong{
        display: block;
        font-size: 2rem;
    }

    .vote, .status{
        width:60px;
        height:50px;
        margin-bottom: 1rem;
        background-color: lightgray;
        border-radius: 10px;
    }

    .status{
        &.unanswered {
            background-color: lightgray;
            border-radius: 10px;
        }

        &.answered {  
            border: 5px solid lightgreen;
            border-radius: 10px;
        }

        &.answer-accepted {
            background-color: lightgreen;
        }
    }

    .view{
        margin-top:10px ;
    }
}

form.form-delete{
    display: inline;
}

.vote-controls{
    min-width: 60px;
    margin-right: 30px;
    text-align: center;
    color: gray;

    span, a{
        display: block;
    }

    span{
        &.votes-count{
            font-size: 25px;
        }
        &.favourite-count{
            font-size: 12px;
        }
    }

    a{
      cursor: pointer;
      color: $gray-600;
      
      &.off, &.off:hover{
          color: $gray-500;
      }

      &.favourite{
        &.favourited, &.favourited:hover{
            color: $warning;
          }
      }

      &.bestAns{
            color: $green;
      }
    }
}